# Entorno de ejecución
NODE_ENV=development

# Conexión MySQL
MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLUSER=usuario_mysql
MYSQLPASSWORD=contrasena_mysql
MYSQLDATABASE=smart_parking

# Seguridad JWT
JWT_SECRET=coloca_aqui_una_clave_larga_y_segura
